<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Menafrinet.ViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Menafrinet.ViewModel.Properties.Settings>
            <setting name="DataExportFolderName" serializeAs="String">
                <value>DataExports</value>
            </setting>
            <setting name="DataImportFolderName" serializeAs="String">
                <value>DataImports</value>
            </setting>
        </Menafrinet.ViewModel.Properties.Settings>
    </applicationSettings>
</configuration>