<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Menafrinet.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Menafrinet.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <Menafrinet.View.Properties.Settings>
            <setting name="DateLastExport" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLastExport" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectPath" serializeAs="String">
                <value>Projects\TrackingMaster\TrackingMasterNew.prj</value>
            </setting>
            <setting name="SystemLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DataExportFolder" serializeAs="String">
                <value>DataExports</value>
            </setting>
            <setting name="DataImportFolder" serializeAs="String">
                <value>DataImports</value>
            </setting>
            <setting name="SiteName" serializeAs="String">
                <value>FETP Office</value>
            </setting>
            <setting name="RecordsLastExport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PackagesLastMerged" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordsLastMerged" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateLastMerged" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLastMerged" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteCode" serializeAs="String">
                <value>aga</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>825</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>712</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Setting_PWD" serializeAs="String">
                <value>gfj</value>
            </setting>
        </Menafrinet.View.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Menafrinet.View.Properties.Settings>
            <setting name="MapImagePath" serializeAs="String">
                <value>..\..\Images\AfricaMapHome_NE.png</value>
            </setting>
            <setting name="LogoImagePath" serializeAs="String">
                <value>..\..\Images\Logo2.tif</value>
            </setting>
            <setting name="SettingsButtonPath" serializeAs="String">
                <value>..\..\Images\SettingsButton4.jpg</value>
            </setting>
            <setting name="SettingsButtonPath1" serializeAs="String">
                <value>..\..\Images\SettingsButton.jpg</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="DataImportArchiveFolder" serializeAs="String">
                <value>Archives</value>
            </setting>
            <setting name="DataExportArchiveFolder" serializeAs="String">
                <value>Archive</value>
            </setting>
            <setting name="JobAid1URL" serializeAs="String">
                <value>Resources\Field Epidemiology Training Program Quick Guide.pdf</value>
            </setting>
            <setting name="JobAid1ButtonText" serializeAs="String">
                <value>Aide-mémoire pour le collecte des échantillons</value>
            </setting>
            <setting name="JobAid1Visibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="JobAid2Visibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="MenafrinetLogoVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="NigerMOHLogoSmall" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="JobAid2ButtonText" serializeAs="String">
                <value> Aide-mémoire pour l’utilisation du milieu T-I</value>
            </setting>
            <setting name="JobAid2URL" serializeAs="String">
                <value>Projects\Menafrinet\Aide-memoire milieu T-I  avril 2014.doc</value>
            </setting>
            <setting name="Graduate" serializeAs="String">
                <value>..\..\Images\Graduate.JPG</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>ReDPeTT</value>
            </setting>
            <setting name="SettingsButton4" serializeAs="String">
                <value>..\..\Images\SettingsButton4.jpg</value>
            </setting>
        </Menafrinet.View.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.2041" newVersion="4.9.2.2041" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.41" newVersion="1.3.6.41" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
